* {
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --clr-darkest-black: #23272e;
  --clr-dark-black: #252930;
  --clr-light-black: #2b3038;
  --clr-accent: #cd67ce;
  --clr-text: #f0f0f0;
  --section-padding: 2rem 10%;
  --border-radius: 3em;
}

html::-webkit-scrollbar {
  width: 0.5em;
}

html::-webkit-scrollbar-track {
  background: var(--clr-darkest-black);
}

html::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 2em;
}

section {
  min-height: 100vh;
  transition: 0.5s;
  overflow-x: hidden;
}

.home,
.blog,
.contact {
  background: var(--clr-darkest-black);
}

.projects,
.about,
footer {
  background: var(--clr-dark-black);
}

.pg-title {
  color: var(--clr-accent);
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1em;
}

/*-------header--------*/

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-padding);
  transition: 0.5s ease-in-out;
  flex-shrink: 1;
  z-index: 100;
  background-color: var(--clr-darkest-black);
}

header.scrolled {
  background-color: var(--clr-accent);
}

header.scrolled .logo {
  color: var(--clr-dark-black);
}

header.scrolled .navbar-container div {
  background-color: #d774d9;
}

header.scrolled .navbar-container div a {
  color: var(--clr-darkest-black);
  font-weight: 700;
}

header.scrolled .navbar-container div a.active:hover,
header.scrolled .navbar-container div a.active {
  background: var(--clr-darkest-black);
  color: var(--clr-accent);
}

header.scrolled #btn-btn {
  background-color: var(--clr-darkest-black);
  color: var(--clr-accent);
}

header.scrolled nav .open-sidebar-button {
  color: var(--clr-text);
}

.logo {
  color: var(--clr-accent);
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-container div {
  background-color: var(--clr-light-black);
  border-radius: 3em;
  display: flex;
}

.navbar-container div a {
  color: var(--clr-text);
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 0.7em 2.5em;
  border-radius: 2rem;
  font-size: 1.1rem;
}

.navbar-container div a:hover {
  background: none;
  color: #d55fde;
  font-weight: 600;
}

.navbar-container div a.active:hover,
.navbar-container div a.active {
  background: var(--clr-accent);
  font-weight: 700;
  transition: 0.5s;
  color: var(--clr-darkest-black);
}

nav .open-sidebar-button {
  color: var(--clr-darkest-black);
  font-size: 1.5rem;
  -webkit-text-stroke: 1px;
}

nav .close-sidebar-button {
  color: var(--clr-darkest-black);
  font-size: 2rem;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.resume-btn {
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  padding: 0.6em 1.8em;
  border-style: none;
  color: var(--clr-darkest-black);
  background-color: var(--clr-accent);
  font-weight: 650;
  text-transform: uppercase;
  cursor: pointer;

  font-size: 1.1rem;
}

.resume-btn:hover {
  transform: scale(1.1);
}

.bi-download {
  -webkit-text-stroke: 1px;
}

/*-------home--------*/

.home {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

.home-text {
  text-align: end;
  color: var(--clr-text);
}

.home-text h1 {
  font-size: 8rem;
  padding: 0;
  margin-bottom: -0.2em;
}

.home-text h3 {
  font-size: 3rem;
  margin-bottom: 0.1em;
}

.home-text p {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.home-text span {
  color: var(--clr-accent);
}

#profile-img1,
#profile-img2 {
  width: 25%;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

#profile-img1 {
  display: none;
}

.home img:hover {
  transform: scale(1.1) translateY(-2px);
}

.social-icons {
  margin: 0.5em 0;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1em;
  background: transparent;
  border: 2px solid #d55fde;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #d55fde;
  margin: 0.1rem 0.3rem 1rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: var(--clr-text);
  background-color: #d55fde;
  transform: scale(1.1) translateY(-2px);
}

.resume-home-btn {
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  padding: 0.6em 1.8em;
  border-style: none;
  color: var(--clr-darkest-black);
  background-color: var(--clr-accent);
  font-weight: 650;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5rem;
}

.resume-home-btn:hover {
  transform: scale(1.1);
}

.bi-download {
  margin-left: 0.5rem;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(images/wave.png);
  background-size: 1000px 100px;
}

.wave.wave1 {
  animation: animate 30s linear infinite;
  z-index: 50;
  opacity: 1;
  animation-delay: 0s;
  bottom: 10px;
  transition: 0.5s;
}

.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 49;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
  transition: 0.5s;
}

.wave.wave3 {
  animation: animate 30s linear infinite;
  z-index: 48;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
  transition: 0.5s;
}

.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 47;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
  transition: 0.5s;
}

.wave.hidden {
  opacity: 0;
}

@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}

/*-----------projects page---------*/

.projects {
  align-content: center;
  padding: var(--section-padding);
}

.horizontal-scroll {
  display: flex;
  max-height: 90vh;
  overflow-x: auto;
  padding: 3rem;
  align-content: center;
  border-radius: 1.5em;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 0.5em;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
  height: 0.5em;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 2em;
}

.horizontal-scroll-item {
  width: 60%;
  height: 40vh;
  display: flex;
  padding: 3em;
  background: var(--clr-light-black);
  border-radius: 1.5em;
  transition: 0.3s ease-in-out;
  flex-shrink: 0;
  margin-right: 4em;
}

.hs-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
  margin-right: 2rem;
  padding-bottom: 1em;
}

.horizontal-scroll-item .projects-number {
  color: var(--clr-text);
  font-size: 4rem;
  margin-bottom: -0.6em;
}

.horizontal-scroll-item .project-name {
  color: var(--clr-accent);
  font-size: 3rem;
  margin-bottom: -0.5em;
}

.horizontal-scroll-item p {
  color: var(--clr-text);
  font-size: 1.25rem;
  overflow-wrap: break-word; /* Ensures long words break and wrap to the next line */
  word-wrap: break-word; /* For older browsers */
  word-break: break-word; /* Ensures words break at appropriate points */
  white-space: normal; /* Allows the text to wrap normally */
}

.horizontal-scroll-item .project-lang {
  display: flex;
}

.horizontal-scroll-item .project-lang h3 {
  margin-right: 1em;
  color: var(--clr-light-black);
  background-color: var(--clr-text);
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
  font-size: 1.25rem;
}

.project-redirect a {
  font-size: 1.75rem;
  padding: 0.2em 0.4em;
  background: transparent;
  border: 2px solid var(--clr-text);
  border-radius: 50%;
  color: var(--clr-text);
  margin-right: 0.5em;
  transition: 0.3s ease-in-out;
}

.horizontal-scroll-item img {
  flex-shrink: 0; /* Prevents the image from shrinking */
  width: 45%; /* Allow the image to maintain its natural width */
  height: auto; /* Ensure the image fits the container's height */
  /* Ensures the image does not exceed 45% of the container's width */
  object-fit: contain; /* Maintains aspect ratio, fits within the container */
  border-radius: 1.5em;
}

/*----------blog---------*/
.blog {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Flexible columns */
  gap: 1rem; /* Space between grid items */
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  align-content: center;
}

.blog-item {
  background: var(--clr-light-black);
  border-radius: 1.5em;
  transition: 0.3s ease-in-out;
  width: 100%; /* Ensure this width works well with your layout */
  overflow: hidden; /* Ensure that content doesn't overflow */
  padding: 1em 2em 2em;
}

.blog-item img {
  width: 100%; /* Image will take the full width of the container */
  height: 100%; /* Image will take the full height of the container */
  object-fit: cover; /* Ensures the image covers the container */
  padding-top: 0.5em;
}

.blog-item h1,
.blog-item p {
  color: var(--clr-text);
  margin-bottom: 0.5rem;
}

.blog-item h1 {
  font-weight: 600;
  font-size: 2rem;
}

.blog-item p span {
  color: #d55fde;
  font-weight: 500;
}

.blog-item p {
  font-weight: 300;
  text-align: justify;
  font-size: 1.25rem;
}

.blog a {
  color: var(--clr-text);
  font-weight: 500;
  font-size: 1.25rem;
  float: right;
  margin-right: 1em;
  margin-top: 1em;
}

.blog-label .pg-title {
  margin: 0;
  padding: 0;
}

.blog-label a {
  font-size: 1.25rem;
  margin: 0 1em 1.5em 0;
}

/*----------about: all---------*/

.about {
  padding: 15rem 10% 0rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container {
  min-width: 100%; /* Make sure the container takes full width */
  /* Set a max width to avoid excessive stretching on large screens */
  height: 100%;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*----------about: nav container---------*/

.about-container .about-content {
  display: flex;
  justify-content: space-between; /* Centers the content horizontally */
  gap: 5em;
  align-items: flex-start; /* Aligns the content to the top vertically */
  width: 100%;
  min-height: 80vh;
}

.about-content .category-content .text {
  display: none;
}
.about-container input[type="radio"] {
  display: none;
}

.about-container .about-content .list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;

  transition: 0.3s ease-in-out;
}

.about-content .list label {
  cursor: pointer;
  height: 4rem;
  font-size: 1.5rem;
  width: 25%;
  border-radius: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: var(--clr-text);
  z-index: 12;
  transition: all 0.4s ease;
  display: flex;
}

.about-content .list .bi {
  margin-right: 1rem;
}

.list i {
  font-size: 1.3rem;
}

.about-content .about-indicator {
  position: absolute;
  background: var(--clr-accent);
  height: 3rem;
  width: 115%;
  left: 0;
  transition: all 0.4s ease;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}

/*----------about: nav container; content: all---------*/

.about-container .about-content .category-content {
  width: 80%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

#education:checked ~ .category-content .education,
#work:checked ~ .category-content .work,
#skills:checked ~ .category-content .skills {
  display: block;
}

#certifications:checked ~ .category-content .certifications-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Flexible columns */
  gap: 1rem; /* Space between grid items */
  justify-content: center; /* Center grid items horizontally */
  align-items: start; /* Center grid items vertically */
  align-content: center;
}

#work:checked ~ .category-content .home,
#skills:checked ~ .category-content .home,
#certifications:checked ~ .category-content .home,
#leadership:checked ~ .category-content .home {
  display: none;
}

#education:checked ~ .list .about-indicator,
#education:checked ~ .list .education-label {
  top: 0px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#work:checked ~ .list .about-indicator,
#work:checked ~ .list .work {
  top: 64px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#skills:checked ~ .list .about-indicator,
#skills:checked ~ .list .skills {
  top: 128px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#certifications:checked ~ .list .about-indicator,
#certifications:checked ~ .list .certifications {
  top: 192px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}

/*----------about: nav container; content: skills---------*/

.skills-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Flexible columns */
  gap: 6rem; /* Space between grid items */
  justify-content: flex-start; /* Center grid items horizontally */
  align-items: flex-start; /* Center grid items vertically */
  align-content: center;
}

.skills-container h3 {
  color: var(--clr-accent);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  font-size: 2em;
}

.skills-icons {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); /* Flexible columns */
  gap: 1rem; /* Space between grid items */
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  align-content: center;
}

.skills-container ul li {
  background: var(--clr-light-black);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
}

.skills-container ul li img {
  width: 50%;
  margin: 1.25em 1em 1em;
}

.skills-container ul li h6 {
  color: var(--clr-text);
  font-size: 1.25em;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
/*----------about: nav container; content: work & education---------*/

.work-text-container {
  max-width: 40%;
  text-align: left;
  background: var(--clr-light-black);
  border-radius: 20px;
  padding: 1.5rem;
  transition: 0.3s ease-in-out;
  padding: 2rem;
}

.work-text-container p,
.education-text-container p {
  font-size: 1.25rem;
  color: var(--clr-text);
  font-weight: 500;
}
.work-text-container address,
.education-text-container address {
  font-size: 1.15rem;
  margin-bottom: 1rem;
  color: var(--clr-text);
  font-weight: 300;
}

.work-text-container h4,
.education-text-container h4 {
  font-size: 1.5rem;
  color: var(--clr-accent);
  margin-bottom: 0.5em;
}

.work-text-container h6,
.education-text-container h6 {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--clr-text);
}

.education {
  border-left: 4px solid var(--clr-accent);
}

.education-text-container {
  background: var(--clr-light-black);
  border-radius: 2em;
  transition: 0.3s ease-in-out;
  padding: 2rem;
  margin-bottom: 1.5rem;
  width: 70%;
}

.education-text-content {
  position: relative;
  padding-left: 3em;
}

.education-text-content:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  border-radius: 50%;
  position: absolute;
  top: 1em;
  left: -12px;
}

/*----------about: nav container; content: certifications---------*/

.certifications-text-container {
  position: relative;
  background: var(--clr-light-black);
  border-radius: 2rem;
  padding: 2rem;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.certifications-text-container img {
  width: 100%;
  margin-bottom: 1em;
}

.certifications-text-container h3 {
  color: var(--clr-accent);
  font-size: 1.5rem;
}
.certifications-text-container h5 {
  font-size: 1.25rem;
  color: var(--clr-text);
  font-weight: 500;
}

.certifications-text-container h6 {
  font-size: 1rem;
  color: var(--clr-text);
  font-weight: 300;
  font-style: italic;
}

/*----------contact page---------*/

.contact {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  height: 100%;
}

.socials-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.socials-col h4 {
  color: var(--clr-text);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5em;
}

.socials-col a {
  color: var(--clr-text);
  border: 2px solid var(--clr-text);
  margin-bottom: 1.5em;
}

.contact-col {
  flex-basis: 60%;
  margin-bottom: 2em;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 1em 1.5em;
  margin-bottom: 17px;
  outline: none;
  border-style: none;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color: var(--clr-light-black);
  color: var(--clr-text);
  font-size: 1.25rem;
}

.contact .contact-col button {
  border-style: none;
  font-size: 1.4rem;
}

.contact .resume-btn:hover {
  transform: none;
}

/*-------footer--------*/
footer {
  padding: var(--section-padding);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-label {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer .logo {
  font-size: 2em;
}

.footer-links-container {
  display: flex;
  gap: 8em;
}

.footer ul li {
  display: flex;
  flex-direction: column;
}

.footer-links-container p {
  margin-bottom: 1em;
  color: var(--clr-accent);
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-label p,
.footer ul li a {
  margin-bottom: 0.3em;
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
}

.footer ul li a i {
  margin-right: 1em;
}

/*-------animation--------*/

/*-------small screens config--------*/

@media (max-width: 1400px) {
  .logo {
    font-size: 1.5rem;
  }
  header {
    padding: 1.5rem 5%;
  }

  .navbar-container {
    flex-direction: column;
    width: 20%;
    background-color: var(--clr-accent);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    justify-content: flex-start;
    transition: 0.7s ease-in-out;
    z-index: 3;
  }
  .navbar-container div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
  }

  .navbar-container div a {
    color: var(--clr-darkest-black);
  }

  .navbar-container div a.active,
  .navbar-container div a:hover {
    font-weight: 900;
    transition: 0.5s;
    color: var(--clr-darkest-black);
  }

  .btn-btn {
    display: none;
  }

  .open-sidebar-button {
    display: block;
  }

  .close-sidebar-button {
    display: block;
    margin-right: 70%;
    margin-top: 1rem;
  }

  #sidebar-active:checked ~ .navbar-container {
    right: 0;
  }

  .section {
    padding: 2em 5%;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .home-text {
    text-align: center;
    color: var(--clr-text);
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text h3 {
    font-size: 2.25rem;
  }

  .home-text p {
    font-size: 1.2rem;
  }
  #profile-img2 {
    display: none;
  }

  #profile-img1 {
    display: block;
    width: 25%;
  }

  .social-icons {
    margin: 0.5em 0;
  }

  .social-icons a {
    font-size: 1.5rem;
    margin: 0.1rem 0.3rem 0.8rem;
  }

  .resume-home-btn {
    font-size: 1.25rem;
  }

  .pg-title {
    font-size: 2rem;
  }

  .blog-label div {
    margin-top: 1em;
  }

  .footer {
    justify-content: space-between;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-bottom: 2em;
    gap: 3em;
  }

  .certifications-container {
    gap: 0;
    margin-bottom: 1.5em;
  }

  .horizontal-scroll-item {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .contact-container .socials-col,
  .footer-label .logo,
  .footer-links-container {
    display: none;
  }

  .contact-col {
    flex-basis: 100%;
  }

  .education-text-container {
    width: 100%;
  }

  .work-text-container {
    max-width: 100%;
  }

  .horizontal-scroll-item {
    width: 150%;
  }
  #blog-item2 {
    display: none;
  }
}

@media (max-width: 1000px) {
  .horizontal-scroll-item {
    width: 100%;
  }
  #blog-item2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .logo {
    font-size: 2rem;
  }
  header {
    padding: 1.5rem 5%;
  }

  .navbar-container {
    flex-direction: column;
    width: 40%;
    background-color: var(--clr-accent);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    justify-content: flex-start;
    transition: 0.7s ease-in-out;
    z-index: 3;
  }
  .navbar-container div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
  }

  .navbar-container div a {
    color: var(--clr-darkest-black);
  }

  .navbar-container div a.active,
  .navbar-container div a:hover {
    font-weight: 900;
    transition: 0.5s;
    color: var(--clr-darkest-black);
  }

  .btn-btn {
    display: none;
  }

  .open-sidebar-button {
    display: block;
  }

  .close-sidebar-button {
    display: block;
    margin-right: 70%;
    margin-top: 1rem;
  }

  #sidebar-active:checked ~ .navbar-container {
    right: 0;
  }

  .section {
    padding: 2em 5%;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .home-text {
    text-align: center;
    color: var(--clr-text);
  }

  .home-text h1 {
    font-size: 3rem;
  }

  .home-text h3 {
    font-size: 2.25rem;
  }

  .home-text p {
    font-size: 1.2rem;
  }
  #profile-img2 {
    display: none;
  }

  #profile-img1 {
    display: block;
    width: 25%;
  }

  .social-icons {
    margin: 0.5em 0;
  }

  .social-icons a {
    font-size: 1.5rem;
    margin: 0.1rem 0.3rem 0.8rem;
  }

  .resume-home-btn {
    font-size: 1.25rem;
  }

  .pg-title {
    font-size: 1.5rem;
  }

  #blog-item2 {
    display: none;
  }

  .contact-col {
    flex-basis: 100%;
  }

  .footer {
    justify-content: space-between;
  }

  .about-container {
    justify-content: center;
    align-items: center;
  }

  .about-container .about-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2em;
  }

  .about-container .about-content .list {
    flex-direction: row;
    background: var(--clr-light-black);
    padding: 0;
    border-radius: 2rem;
    height: 3rem;
    width: 80%;
    justify-content: center;
  }

  .about-content .list label {
    margin: 0;
    justify-content: center;
    padding: 0;
  }

  .about-content .list .bi {
    margin: 0;
  }

  #education:checked ~ .list .about-indicator,
  #education:checked ~ .list .education-label {
    color: var(--clr-accent);
  }
  #work:checked ~ .list .about-indicator,
  #work:checked ~ .list .work {
    color: var(--clr-accent);
  }
  #skills:checked ~ .list .about-indicator,
  #skills:checked ~ .list .skills {
    color: var(--clr-accent);
  }
  #certifications:checked ~ .list .about-indicator,
  #certifications:checked ~ .list .certifications {
    color: var(--clr-accent);
  }

  .about-content .list label span {
    display: none;
  }

  .about-content .about-indicator {
    display: none;
  }

  .education-text-container {
    width: 100%;
  }

  .education-text-content {
    padding-left: 1.5em;
  }

  .work-text-container {
    max-width: 100%;
  }

  .education-text-container p,
  .education-text-container address,
  .work-text-container p,
  .work-text-container address,
  .certifications-text-container h6,
  .horizontal-scroll-item p {
    font-size: 0.8rem;
  }
  .education-text-container h4,
  .work-text-container h4,
  .certifications-text-container h3,
  .horizontal-scroll-item .project-lang h3 {
    font-size: 1rem;
  }

  .education-text-container h6,
  .work-text-container h6,
  .certifications-text-container h5 {
    font-size: 0.9rem;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-bottom: 2em;
    gap: 3em;
  }

  .skills-container h3 {
    font-size: 1.25rem;
  }

  .skills-container ul li h6 {
    font-size: 0.8rem;
  }

  .certifications-container {
    gap: 0;
    margin-bottom: 1.5em;
  }

  .horizontal-scroll-item {
    width: 150%;
  }
}

@media (max-width: 600px) {
  .horizontal-scroll-item {
    width: 175%;
  }

  .logo {
    font-size: 2rem;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
  }

  .navbar-container {
    width: 55%;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 1.5rem;
  }
  header {
    padding: 0.5rem 5%;
  }

  .navbar-container {
    flex-direction: column;
    width: 70%;
    background-color: var(--clr-accent);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    justify-content: flex-start;
    transition: 0.7s ease-in-out;
    z-index: 3;
  }
  .navbar-container div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
  }

  .navbar-container div a {
    color: var(--clr-darkest-black);
  }

  .navbar-container div a.active,
  .navbar-container div a:hover {
    font-weight: 900;
    transition: 0.5s;
    color: var(--clr-darkest-black);
  }

  .btn-btn {
    display: none;
  }

  .open-sidebar-button {
    display: block;
  }

  .close-sidebar-button {
    display: block;
    margin-right: 80%;
    margin-top: 0.1em;
  }

  #sidebar-active:checked ~ .navbar-container {
    right: 0;
  }

  .section {
    padding: 2em 5%;
  }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .home-text {
    text-align: center;
    color: var(--clr-text);
  }

  .home-text h1 {
    font-size: 2rem;
  }

  .home-text h3 {
    font-size: 1.25rem;
  }

  .home-text p {
    font-size: 0.8rem;
  }
  #profile-img2 {
    display: none;
  }

  #profile-img1 {
    display: block;
    width: 50%;
  }

  .social-icons {
    margin: 0.5em 0;
  }

  .social-icons a {
    font-size: 1rem;
    margin: 0.1rem 0.1rem 0.4rem;
  }

  .resume-home-btn {
    font-size: 0.8rem;
  }

  .pg-title {
    font-size: 1.5rem;
  }

  #blog-item2 {
    display: none;
  }

  .blog-label div {
    margin-top: 1em;
  }

  .blog-container h1 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  .blog-container a {
    font-size: 0.8rem;
    margin: 0;
  }

  .contact-container .socials-col,
  .footer-label .logo,
  .footer-links-container {
    display: none;
  }

  .contact-col {
    flex-basis: 100%;
  }

  .footer {
    justify-content: space-between;
  }

  .footer p {
    font-size: 0.8rem;
  }
  .about-container {
    justify-content: center;
    align-items: center;
  }

  .about-container .about-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2em;
  }

  .about-container .about-content .list {
    flex-direction: row;
    background: var(--clr-light-black);
    padding: 0;
    border-radius: 2rem;
    height: 3rem;
    width: 80%;
    justify-content: center;
  }

  .about-content .list label {
    margin: 0;
    justify-content: center;
    padding: 0;
  }

  .about-content .list .bi {
    margin: 0;
  }

  #education:checked ~ .list .about-indicator,
  #education:checked ~ .list .education-label {
    color: var(--clr-accent);
  }
  #work:checked ~ .list .about-indicator,
  #work:checked ~ .list .work {
    color: var(--clr-accent);
  }
  #skills:checked ~ .list .about-indicator,
  #skills:checked ~ .list .skills {
    color: var(--clr-accent);
  }
  #certifications:checked ~ .list .about-indicator,
  #certifications:checked ~ .list .certifications {
    color: var(--clr-accent);
  }

  .about-content .list label span {
    display: none;
  }

  .about-content .about-indicator {
    display: none;
  }

  .education-text-container {
    width: 100%;
  }

  .education-text-content {
    padding-left: 1.5em;
  }

  .work-text-container {
    max-width: 100%;
  }

  .education-text-container p,
  .education-text-container address,
  .work-text-container p,
  .work-text-container address,
  .certifications-text-container h6,
  .horizontal-scroll-item p {
    font-size: 0.8rem;
  }
  .education-text-container h4,
  .work-text-container h4,
  .certifications-text-container h3,
  .horizontal-scroll-item .project-lang h3 {
    font-size: 1rem;
  }

  .education-text-container h6,
  .work-text-container h6,
  .certifications-text-container h5 {
    font-size: 0.9rem;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-bottom: 2em;
    gap: 3em;
  }

  .skills-container h3 {
    font-size: 1.25rem;
  }

  .skills-container ul li h6 {
    font-size: 0.8rem;
  }

  .certifications-container {
    gap: 0;
    margin-bottom: 1.5em;
  }

  .horizontal-scroll-item {
    width: 400%;
  }

  .hs-text-container {
    gap: 1em;
  }

  .horizontal-scroll-item .projects-number {
    font-size: 2em;
  }

  .horizontal-scroll-item .project-name {
    font-size: 1.5em;
  }
  .horizontal-scroll-item .project-lang h3 {
    font-size: 0.8rem;
  }

  .project-redirect a {
    font-size: 1em;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
