* {
  font-family: "Poppins", "sans-serif";
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --clr-darkest-black: #23272e;
  --clr-light-black: #2b3038;
  --clr-accent: #cd67ce;
  --clr-text: #f0f0f0;
  --section-padding: 2rem 5%;
  --border-radius: 3em;
}

html::-webkit-scrollbar {
  width: 0.5em;
}

html::-webkit-scrollbar-track {
  background: var(--clr-darkest-black);
}

html::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 2em;
}

section {
  min-height: 100vh;
  transition: 0.5s;
  background-color: var(--clr-darkest-black);
}

/*-------header--------*/

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--section-padding);
  transition: 0.5s ease-in-out;
  flex-shrink: 1;
  z-index: 2;
  background-color: var(--clr-darkest-black);
}

.logo {
  color: var(--clr-accent);
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-container div {
  background-color: var(--clr-light-black);
  border-radius: 3em;
  display: flex;
}

.navbar-container div a {
  color: var(--clr-text);
  font-weight: 600;
  justify-content: center;
  align-items: center;
  padding: 0.7em 2.5em;
  border-radius: 2rem;
}

.navbar-container div a.active {
  background: var(--clr-accent);
  font-weight: 700;
  transition: 0.5s;
  color: var(--clr-darkest-black);
}

.navbar-container div a:hover {
  background: none;
  color: #d55fde;
  font-weight: 600;
}

nav .open-sidebar-button {
  color: var(--clr-text);
  font-size: 1.5rem;
  font-weight: 600;
}

nav .close-sidebar-button {
  color: var(--clr-darkest-black);
  font-size: 2rem;
  font-weight: 600;
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {
  display: none;
}

.resume-btn {
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  padding: 0.6em 1.8em;
  border-style: none;
  color: var(--clr-darkest-black);
  background-color: var(--clr-accent);
  font-weight: 650;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

.resume-btn:hover {
  transform: scale(1.1);
}

/*-------home--------*/

.home {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}

.home-text {
  text-align: end;
  color: var(--clr-text);
}

.home-text h1 {
  font-size: 6rem;
  padding: 0;
  margin-bottom: -0.2em;
}

.home-text h3 {
  font-size: 2.5rem;
  margin-bottom: 0.1em;
}

.home-text p {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.home-text span {
  color: var(--clr-accent);
}

.home img {
  width: 25%;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.home img:hover {
  box-shadow: 0 0 25px #d55fde, 0 0 50px #d55fde;
}

.social-icons {
  margin: 0.5em 0;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1em;
  background: transparent;
  border: 2px solid #d55fde;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #d55fde;
  margin: 0.1rem 0.3rem 1rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #fff;
  background-color: #d55fde;
  transform: scale(1.1) translateY(-2px);
}

.resume-home-btn {
  align-items: center;
  justify-content: center;
  border-radius: 3em;
  padding: 0.6em 1.8em;
  border-style: none;
  color: var(--clr-darkest-black);
  background-color: var(--clr-accent);
  font-weight: 650;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.2rem;
}

.resume-home-btn:hover {
  transform: scale(1.1);
}

.bi-download {
  margin-left: 0.5rem;
}

/*-----------projects page---------*/

.projects {
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: var(--section-padding);
}

.horizontal-scroll {
  display: flex;
  max-height: 90vh;
  overflow-x: auto;
  padding: 3rem;
  align-content: center;
  border-radius: 1.5em;
}

.horizontal-scroll::-webkit-scrollbar {
  height: 0.5em;
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent;
  height: 0.5em;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background: var(--clr-accent);
  border-radius: 2em;
}

.horizontal-scroll-item {
  width: 70%;
  height: 50vh;
  display: flex;
  padding: 3em;
  background: var(--clr-light-black);
  border-radius: 1.5em;
  transition: 0.3s ease-in-out;
  flex-shrink: 0;
  margin-right: 4em;
}

.hs-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
  margin-right: 2rem;
  padding-bottom: 1em;
}

.horizontal-scroll-item .projects-number {
  color: var(--clr-text);
  font-size: 3rem;
  margin-bottom: -0.6em;
}

.horizontal-scroll-item .project-name {
  color: var(--clr-accent);
  font-size: 2rem;
  margin-bottom: -0.5em;
}

.horizontal-scroll-item p {
  color: var(--clr-text);
  font-size: 1rem;
  overflow-wrap: break-word; /* Ensures long words break and wrap to the next line */
  word-wrap: break-word; /* For older browsers */
  word-break: break-word; /* Ensures words break at appropriate points */
  white-space: normal; /* Allows the text to wrap normally */
}

.horizontal-scroll-item .project-lang {
  display: flex;
}

.horizontal-scroll-item .project-lang h3 {
  margin-right: 1em;
  color: var(--clr-light-black);
  background-color: var(--clr-text);
  padding: 0.2em 0.4em;
  border-radius: 0.3em;
}

.project-redirect a {
  font-size: 1.5rem;
  padding: 0.2em 0.4em;
  background: transparent;
  border: 2px solid var(--clr-text);
  border-radius: 50%;
  color: var(--clr-text);
  margin-right: 0.5em;
  transition: 0.3s ease-in-out;
}

.horizontal-scroll-item img {
  flex-shrink: 0; /* Prevents the image from shrinking */
  width: 45%; /* Allow the image to maintain its natural width */
  height: auto; /* Ensure the image fits the container's height */
  max-width: 45%; /* Ensures the image does not exceed 45% of the container's width */
  object-fit: contain; /* Maintains aspect ratio, fits within the container */
  border-radius: 1.5em;
}

/*----------blog---------*/

.blog {
  padding: var(--section-padding);
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(600px, 1fr)
  ); /* Flexible columns */
  gap: 2rem; /* Space between grid items */
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  align-content: center;
}

.blog-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--clr-light-black);
  border-radius: 1.5em;
  padding: 3em;
  transition: 0.3s ease-in-out;
}

.blog-item img {
  width: 15rem;
}

.blog-item h1,
.blog-item h3,
.blog-item p {
  color: #fff;
  margin: 0.5rem;
}

.blog-item h3 span {
  color: #d55fde;
  font-weight: 400;
  letter-spacing: -1px;
}

.blog-item p {
  font-weight: 300;
}

.blog-item a {
  font-weight: 500;
}

/*----------about: all---------*/

.about {
  padding: 0rem 10%;
  min-height: 100vh; /* Set a minimum height for the container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  min-width: 100%; /* Make sure the container takes full width */
  /* Set a max width to avoid excessive stretching on large screens */
  height: 100%;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/*----------about: nav container---------*/

.about-container .about-content {
  display: flex;
  justify-content: space-between; /* Centers the content horizontally */
  gap: 5em;
  align-items: flex-start; /* Aligns the content to the top vertically */
  width: 100%;
  min-height: 80vh;
}

.about-content .category-content .text {
  display: none;
}
.about-container input[type="radio"] {
  display: none;
}

.about-container .about-content .list {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;

  transition: 0.3s ease-in-out;
}

.about-content .list label {
  cursor: pointer;
  height: 4rem;
  font-size: 1.3rem;
  width: 25%;
  border-radius: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: var(--clr-text);
  z-index: 12;
  transition: all 0.4s ease;
  display: flex;
  font-weight: 500;
}

.about-content .list .bi {
  margin-right: 1rem;
}

.list i {
  font-size: 1.3rem;
}

.about-content .about-indicator {
  position: absolute;
  background: var(--clr-accent);
  height: 3rem;
  width: 115%;
  left: 0;
  transition: all 0.4s ease;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: 0.3s ease-in-out;
}

/*----------about: nav container; content: all---------*/

.about-container .about-content .category-content {
  width: 80%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

#education:checked ~ .category-content .education,
#work:checked ~ .category-content .work,
#skills:checked ~ .category-content .skills {
  display: block;
}

#certifications:checked ~ .category-content .certifications-container,
#leadership:checked ~ .category-content .leadership {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Flexible columns */
  gap: 1rem; /* Space between grid items */
  justify-content: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
  align-content: center;
}

#work:checked ~ .category-content .home,
#skills:checked ~ .category-content .home,
#certifications:checked ~ .category-content .home,
#leadership:checked ~ .category-content .home {
  display: none;
}

#education:checked ~ .list .about-indicator,
#education:checked ~ .list .education-label {
  top: 0px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#work:checked ~ .list .about-indicator,
#work:checked ~ .list .work {
  top: 64px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#skills:checked ~ .list .about-indicator,
#skills:checked ~ .list .skills {
  top: 128px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#certifications:checked ~ .list .about-indicator,
#certifications:checked ~ .list .certifications {
  top: 192px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}
#leadership:checked ~ .list .about-indicator,
#leadership:checked ~ .list .leadership {
  top: 256px;
  color: var(--clr-darkest-black);
  font-weight: 500;
}

/*----------about: nav container; content: skills---------*/

.skills-container li {
  margin-bottom: 1rem;
  padding: 10px;
}
.skills-container h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.bar {
  background: #23272e;
  display: block;
  height: 1.2rem;
  background: var(--clr-light-black);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar span {
  height: 1.1rem;
  float: left;
  border-radius: 2rem;
}

.html {
  width: 90%;
  animation: html 3s;
}
.js {
  width: 40%;
  animation: js 3s;
}
.css {
  width: 86%;
  animation: css 3s;
}
.php {
  width: 35%;
  animation: php 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 86%;
  }
}
@keyframes php {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}

/*----------about: nav container; content: work & education---------*/

.work-text-container {
  max-width: 40%;
  text-align: left;
  background: var(--clr-light-black);
  border-radius: 20px;
  padding: 1.5rem;
  transition: 0.3s ease-in-out;
  padding: 2rem;
}

.work-text-container h3,
.education-text-container h3 {
  font-size: 1.5rem;
}
.work-text-container address,
.education-text-container address {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 400;
}

.work-text-container h4,
.education-text-container h4 {
  font-size: 1.2rem;
}

.work-text-container h5,
.education-text-container h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
}

.education {
  border-left: 2px solid var(--clr-accent);
}

.education-text-container {
  background: var(--clr-light-black);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.education-text-content {
  position: relative;
  padding-left: 3em;
}

.education-text-content:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-accent);
  border-radius: 50%;
  position: absolute;
  top: 1em;
  left: -12px;
}

/*----------about: nav container; content: certifications---------*/

.certifications-text-container {
  position: relative;
  background: var(--clr-light-black);
  border-radius: 2rem;
  padding: 2rem;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.certifications-text-container img {
  width: 100%;
}

.certifications-text-container h3 {
  font-size: 1.2rem;
}
.certifications-text-container h5 {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.certifications-text-container h6 {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

/*----------about: nav container; content: leadership---------*/

.leadership-text-container {
  position: relative;
  background: var(--clr-light-black);
  border-radius: 2rem;
  padding: 2rem;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.leadership-text-container img {
  width: 100%;
}

.leadership-text-container h3 {
  font-size: 1.2rem;
}
.leadership-text-container h5 {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
}

.leadership-text-container h6 {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

/*----------contact page---------*/

.contact {
  padding: 2rem 10%;
  display: flex;
  flex-direction: column;
}

.contact h1 {
  color: var(--clr-accent);
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  height: 100%;
}

.socials-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.socials-col h4 {
  color: var(--clr-text);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.socials-col a {
  color: var(--clr-text);
  border: 2px solid var(--clr-text);
  margin-bottom: 1.5em;
}

.contact-col {
  flex-basis: 70%;
  margin-bottom: 30px;
}
.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  margin: 10px;
  margin-right: 30px;
  color: #f44336;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border-style: none;
  box-sizing: border-box;
  border-radius: 2rem;
  background-color: var(--clr-light-black);
}

.contact .contact-col button {
  border-style: none;
}

/*-------small screens config--------*/

@media (max-width: 1200px) {
  .logo {
    font-size: 1.5rem;
  }
  header {
    padding: 0.5rem 5%;
  }

  .navbar-container {
    flex-direction: column;
    width: 70%;
    background-color: var(--clr-accent);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    justify-content: flex-start;
    transition: 0.7s ease-in-out;
    z-index: 3;
  }
  .navbar-container div {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
  }

  .navbar-container div a {
    color: var(--clr-darkest-black);
  }

  .navbar-container div a.active,
  .navbar-container div a:hover {
    font-weight: 900;
    transition: 0.5s;
    color: var(--clr-darkest-black);
  }

  .resume-btn {
    display: none;
  }

  .open-sidebar-button {
    display: block;
  }

  .close-sidebar-button {
    display: block;
    margin-right: 80%;
    margin-top: 0.1em;
  }

  #sidebar-active:checked ~ .navbar-container {
    right: 0;
  }
}
