* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: #23272e;
}

section {
  min-height: 100vh;
  padding: 10rem 10%;
  width: 100%;
}
/*--------header---------*/

header {
  position: fixed;
  background-image: linear-gradient(#2c313cff, #2c313cff);
  box-shadow: 0 0 25px #2c313c;
  top: 0;
  left: 0;
  padding: 2rem 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  color: #fff;
  position: relative;
  letter-spacing: -2px;
  font-size: 2.5rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.gradient-text {
  background-image: linear-gradient(to right, #d55fde, #61afef);
  background-clip: text;
  color: transparent;
  font-weight: 900;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  flex: 1;
  text-align: right;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.navbar ul li a {
  color: #fff;
  font-size: 1.1rem;
  align-items: right;
  margin: 0 0.8rem;
}

.navbar ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #61afef;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 80%;
}

/*----------home page---------*/
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home-content h1 {
  font-size: 6rem;
  font-weight: 800;
  color: #fff;
  margin-bottom: 1.5rem;
  line-height: 0.7;
}

.home-content h3 {
  margin-bottom: 1.5rem;
  color: #fff;
  letter-spacing: 0.8px;
  font-size: 2.5rem;
}

.home-content p {
  color: #fff;
  text-align: end;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.profile-img img {
  width: 22vw;
  border-radius: 50%;
  box-shadow: 0 0 25px #d55fde;
  transition: 0.4s ease-in-out;
}

.profile-img img:hover {
  box-shadow: 0 0 25px #d55fde, 0 0 50px #d55fde, 0 0 100px #d55fde;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid #d55fde;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #d55fde;
  margin: 0rem 0.2rem 1.8rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #fff;
  background-color: #d55fde;
  transform: scale(1.1) translateY(-2px);
}

.btn {
  padding: 1rem 3rem;
  background-image: linear-gradient(to right, #d55fde, #61afef);
  box-shadow: 0 0 15px #d55fde;
  border-radius: 3rem;
  color: #23272e;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #d55fde, 0 0 30px #d55fde;
}
.btn bi {
  padding: 0 1rem;
}

.bi-download {
  margin-left: 0.5rem;
}

/*-----------projects page---------*/
.projects-pg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d55fde;
}

/*.slide-container {
  width: 100%;
  height: 85vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #61afef;
}

.image-slider {
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 30px;
}

.img {
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  filter: saturate(10%);
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7 {
  width: 380px;
  height: 585px;
  background-color: transparent;
  filter: saturate(100%);
}

#slider-span1:target ~ .image-slider {
  left: 70%;
}
#slider-span2:target ~ .image-slider {
  left: 50%;
}
#slider-span3:target ~ .image-slider {
  left: 25%;
}

#slider-span5:target ~ .image-slider {
  left: -25%;
}
#slider-span6:target ~ .image-slider {
  left: -50%;
}
#slider-span7:target ~ .image-slider {
  left: -70%;
}
*/

.container {
  width: 80%;
}

.swiper {
  width: 100%;
  padding: 20px 0 20px;
}

.swiper-slide {
  position: relative;
  bottom: -100px;
  width: 260px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  user-select: none;
  margin-bottom: 16px;
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 50%;
  height: 50%;
  background: #61afef;
  mix-blend-mode: multiply;
  z-index: 1;
}

.swiper-slide img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: 50% 50%;
}

.swiper-slide p {
  position: absolute;
  left: 150px;
  bottom: -13px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: max-content;
  font-size: 1.1rem;
  z-index: -1;
}

.swiper-slide-active {
  position: relative;
  bottom: -50px;
  width: 300px;
  height: 400px;
  padding: 20px 20px 24px;
  box-shadow: 0 2px 10px 6px #d55fde33;
}

.swiper-slide-active::after {
  background: #61afef;
}

.swiper-slide-active img {
  border-radius: 8px;
}

.swiper-slide-active {
  opacity: 1;
  color: aqua;
}
